@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.fixed {
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-1 {
  margin-left: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.fw-bold {
  font-weight: 900;
}

.pos-rel {
  position: relative;
}

.border-dark {
  padding: 20px 10px;
  border: 1px solid #f7f7f7;
}

.text-center {
  text-align: center;
}

.bg-dark {
  color: #fff;
  background-color: #414246;
}

.bg-light {
  color: #272a31;
  background-color: #fff;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #ec5242;
}

.btn-inverse {
  color: #ec5242;
  width: 100%;
  border: 1px solid #ec5242;
  background-color: #fff;
}

.btn.btn-action {
  width: 100%;
  margin-top: 20px;
}

.header-topbar {
  padding: 10px;
  background-color: #272a31;
}

.header-topbar a {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
}

.intro {
  padding: 20px;
  height: 500px;
  background: #fff url('../images/mobile-bg.png') no-repeat 0 0;
  background-size: contain;
}

.intro .intro-header {
  font-weight: 900;
  background-image: url('../images/textbg.jpg');
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro.intro-about {
  background: #f7f7f7;
}

.intro .intro-jumbo {
  color: #ec5242;
  margin-top: 2rem;
}

.intro .intro-jumbo .intro-description {
  color: #272a31;
  margin-top: 2.2rem;
  padding: 10px 15px;
  border: 2px solid #fff;
  background-color: #fafafa;
}

.intro .intro-jumbo .intro-footer {
  color: #272a31;
  margin: 10px 5px;
}

.intro .intro-jumbo .intro-footer p {
  margin-top: 10px;
}

nav {
  color: #272a31;
}

.services {
  padding: 40px 20px;
  margin: -40px 0 0 0;
}

.services .service {
  margin: 20px 0;
}

.services img {
  height: 50px;
}

.services .service .service-title {
  color: #ec5242;
  margin-right: 20px;
  font-weight: bold;
  width: 200px;
}

.our-team {
  margin: 20px;
}

.our-team .team-member {
  margin: 20px 0;
}

.our-team .our-team-profile {
  width: 40%;
}

.our-team .team-member-details {
  margin: 0 0 0 20px;
}

.our-team .team-member-details em {
  color: #ec5242;
}

.our-team .team-member .team-member-position {
  position: relative;
}

.our-team .team-member .team-member-position::after,
.title-underline::after {
  content: ' ';
  position: absolute;
  top: 25px;
}

.our-team .team-member .team-member-position::after {
  width: 25px;
  left: 0;
  border-bottom: 2px solid #ddd;
}

.title-underline::after {
  width: 50px;
  margin-top: 10px;
  left: calc(50% - 25px);
  border-bottom: 2px solid #ec5242;
}

.app-footer img {
  width: 100px;
}

.our-team .our-team-profile img {
  width: 150px;
}

.our-team .team-member .team-member-bio {
  color: #272a31;
}

.bg-about-two {
  width: 80px;
  height: 80px;
  left: 15px;
  bottom: 40px;
  position: absolute;
  border-radius: 50%;
  background: #f7f7f7 url('../images/red-blue-image.png');
  background-size: contain;
}

.bg-about-one,
.bg-about-three {
  width: 50px;
  height: 50px;
  z-index: 1;
  right: -15px;
  bottom: 60px;
  position: absolute;
  border-radius: 50%;
  background: #f7f7f7 url('../images/chess.png');
  background-size: contain;
}

.bg-about-three {
  width: 30px;
  height: 30px;
  left: 8%;
  top: 30%;
}

.bg-team-section {
  width: 50px;
  height: 50px;
  z-index: -1;
  left: -10px;
  top: -15px;
  position: absolute;
  background: url('../images/checkers.jpg') repeat;
  background-size: contain;
}

.img-holder {
  position: relative;
}

.success-stories {
  border-top: 1px solid #f7f7f7;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  margin: 20px;
  font-weight: bold;
  background-color: rgba(169, 60, 40, 0.8);
}

.mobile-menu {
  color: #fff;
  font-weight: 900;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(4.5px);
  background-color: rgba(169, 60, 40, 0.85);
}

.mobile-menu a {
  display: block;
  padding: 10px 0 10px 0;
  border-bottom: 3px dotted #fff;
}

@media screen and (min-width: 767px) {
  .container {
    width: 90%;
  }

  .d-flex-sm {
    display: flex;
  }
  
  .d-flex-sm-none {
    display: none;
  }
  
  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-center {
    justify-content: center;
  }

  .logo img {
    width: 150px;
  }
  
  .services .service {
    width: 200px;
  }
}
